* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #eee;
}
.header-list {
  display: flex;
  justify-content: space-between;
}
.header-list__item,
.header-input__wrapper {
  padding: 1rem;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-item__link {
  border-right: 1px solid #eee;
}
.header-logo {
  width: 50px;
  padding: 5px;
}
.header-complex__items {
  display: flex;
  margin-left: 1rem;
}
.header-input__wrapper {
  margin-left: 1rem;
}
.main-products {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.main-products__item {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #eee;
  margin-bottom: 2rem;
}
.item-name {
  color: rgb(224, 224, 224);
  font-family: "Quicksand", sans-serif;
}
.item-discription {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.item-discription__wrapper {
  margin-bottom: 1.5rem;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  width: 7rem;
  height: 2.3rem;
  border: none;
  background-color: #272727;
  color: #eee;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.img {
  width: 300px;
}
.item-img__wrapper {
  justify-content: center;
  padding: 1.2rem;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items-something {
  display: flex;
}
.item-message {
  margin-left: 1rem;
}
.img__greeting {
  width: 100%;
  height: 800px;
}
.malevich {
  width: 100%;
  height: 800px;
  background-color: #272727;
  position: absolute;
  opacity: 0.7;
}
.text-wrapper {
  position: absolute;
  color: #eee;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 1.2rem;
}

.main-img__greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.malevich-text {
  position: absolute;
  background-color: #272727;
  width: 100%;
  height: 300px;
  opacity: 0.7;
  border-radius: 2rem;
}
.text {
  z-index: 1;
  padding: 1.5rem;
}

.text:last-child {
  z-index: 1;
  margin-left: 40px;
}

.footer-social__media-icons__wrapper {
  display: flex;
  flex-direction: column;
}

.footer-social__media-icons {
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  margin-right: 0.3rem;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.footer {
  border: 1px solid #eee;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}
p {
  color: rgb(174, 174, 174);
}

input {
  width: 12rem;
  height: 1.3rem;
  border: none;
  border-bottom: 1px solid rgb(174, 174, 174);
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}
.about-company {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  color: #dadada;
}
.about-block {
  display: grid;
  text-align: center;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.main-wrapper {
  background-color: rgb(246, 246, 246);
}

.about-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: .6rem;
}

.about-wrapper {
  width: 370px;
}

.about-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #eee;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.about-wrapper {
  border:1px solid #eee;
}
.about-company__p {
  font-size: 1.1rem;
  margin-top: 0.2em;
  padding: 12px;
}

.from-wrapper {
  height: 100vh;
  display: flex;
  background-color: rgb(246, 246, 246);
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
  height: 300px;
  background-color: #fff;
  border-radius: 2rem;
}

.from-btn {
  color: white;
  margin-top: 1rem;
  background-color: #272727;
  border-radius: 0.3rem;
  width: 5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  font-family: "Franklin Gothic Book", serif;
}

.form-input__email,
.form-input__password {
  width: 20rem;
}

.input-passwords__wrapper {
  margin-top: 1rem;
}

.category-img {
  width: 250px;
  height: 235px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
}

.category-item {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-name__wrapper {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #989898;
  font-family: "Franklin Gothic Book", serif;
}

.category-img__wrapper {
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 1rem;
}